.Experince-hero-image{
  width: 100%;
  max-width: 700px;
  margin-top: 80px;
  height: 100% !important;
}
.experince-stat-card {
  border-radius: 18px;
  padding: 32px 24px;
  text-align: center;
  height: 100%;
  transition: 0.3s;
}
.experince-stat-number{
    color: #FFFFFF;
    font-size: 36px;
}
.experince-stat-label{
    color: #FFFFFF99;
    font-size: 12px;
}
.Digi-badge{
  font-size: 12px;
    font-weight: 600;
    color: #057dcd;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #e8f4fd;
    padding: 6px 14px;
    border-radius: 40px;
    border: 0.5px solid #057dcd33;
    letter-spacing: 0.5px;
    margin-top: 40px;
}
