.marketing-stat-card {
  border-radius: 18px;
  padding: 32px 24px;
  text-align: center;
  height: 100%;
  transition: 0.3s;
}
.counter-section {
  margin-top: 50px !important;
}
.marketing-stat-number {
  color: #ffffff;
  font-size: 36px;
}
.marketing-stat-label {
  color: #ffffff99;
  font-size: 12px;
}
@media (max-width: 992px) {
  .counter-section {
    margin-top: 40px !important;
  }
}
