.hero-stats-section {
  padding-top: 16px;
  padding-bottom: 30px;
}

.hero-wrapper,
.stats-wrapper {
  padding-left: 6%;
  padding-right: 4%;
}

/* ======================
   HERO
====================== */

.breadcrumb {
  font-size: 14px;
  color: #7b8794;
  margin-bottom: 28px;
}

.hero-tag {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.8px;
  color: #475569;
  margin-bottom: 18px;
}

.hero-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  color: #101828;
  margin-bottom: 24px;
}

.hero-title span {
  color: #057dcd;
}

.hero-description {
  font-size: 16px;
  line-height: 1.8;
  color: #475569;
  max-width: 550px;
  margin-bottom: 36px;
}

.hero-buttons {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.hero-image-wrapper {
  text-align: center;
}

.hero-image {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin-top: 56px;
}

/* ======================
   STATS
====================== */

.stats-wrapper {
  margin-top: 60px;
  border-top: 1px solid #e8edf3;
  border-bottom: 1px solid #e8edf3;
  padding: 48px 0;
}

.stat-card {
  background: #ffffff;
  border: 1px solid #e4e7ec;
  border-radius: 18px;
  padding: 32px 24px;
  text-align: center;
  height: 100%;
  transition: 0.3s;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-number {
  font-size: 48px;
  font-weight: 600;
  color: #057dcd;
  margin-bottom: 12px;
}

.stat-label {
  font-size: 14px;
  line-height: 1.6;
  color: #475569;
  margin-bottom: 0;
}

/* ======================
   RESPONSIVE
====================== */

@media (max-width: 991px) {
  .hero-stats-section {
    padding-top: 40px;
    padding-bottom: 32px;
  }
  .stats-wrapper {
    margin-top: 48px;
  }
  .hero-description {
    font-size: 14px;
  }
  .hero-content {
    text-align: center;
    margin-bottom: 50px;
  }

  .hero-description {
    max-width: 100%;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-title {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .hero-tag {
    font-size: 13px;
  }
  .stats-wrapper {
    margin-top: 42px;
    padding: 36px 0px;
  }
  .hero-stats-section {
    padding-top: 30px;
    padding-bottom: 18px;
  }
  .hero-wrapper,
  .stats-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-title {
    font-size: 30px;
  }
  .hero-description {
    font-size: 12px;
  }
  .hero-image {
    margin-top: 5px;
  }
}

/* NEW  */

/* =========================
   WRAPPER
========================= */
.website-wrapper {
  margin-top: 40px;
  width: 100%;
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  border: 1px solid #eef2f7;
}

/* =========================
   TOP BAR
========================= */
.website-browser-header {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-bottom: 1px solid #f1f5f9;
  background-color: #f8fafc;
}

.website-dots {
  display: flex;
  gap: 5px;
}

.website-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.website-red {
  background: #ff5f57;
}
.website-yellow {
  background: #ffbd2e;
}
.website-green {
  background: #28c840;
}

.website-url {
  margin-left: 10px;
  font-size: 10px;
  color: #64748b;
  background-color: #ffffff;
  padding: 8px 350px 8px 14px;
  border-radius: 6px;
}

/* =========================
   NAVBAR
========================= */
.website-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
}

.website-nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

.website-nav a {
  font-size: 10px;
  color: #64748b;
  text-decoration: none;
}

.website-nav button {
  background: #2563eb;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 10px;
}

/* =========================
   HERO
========================= */
.website-hero {
  display: flex;
  gap: 12px;
  padding: 12px;
  align-items: flex-start;
  background: linear-gradient(
    135deg,
    #f8fafc 0%,
    #fafcfd 33.33%,
    #fdfdfe 66.67%,
    #ffffff 100%
  );
}

/* LEFT */
.website-left {
  width: 50%;
}

.website-badge {
  font-size: 9px;
  padding: 4px 8px;
  border-radius: 20px;
  border: 1px solid #dbeafe;
  background: #eff6ff;
  color: #2563eb;
}

.website-title {
  font-size: 11px;
  line-height: 1.6;
  margin-top: 8px;
  font-weight: 600;
}

.website-title span {
  color: #2563eb;
}

/* fake lines */
.website-lines {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.website-lines div {
  height: 4px;
  border-radius: 10px;
  background: #e5e7eb;
  transform-origin: left;
  animation: growBar 1.2s ease-in-out infinite;
}

/* different widths */
.website-lines div:nth-child(1) { width: 90%; animation-delay: 1s; }
.website-lines div:nth-child(2) { width: 75%; animation-delay: 0.10s; }
.website-lines div:nth-child(3) { width: 60%; animation-delay: 0.14s; }

/* actual movement (grow/shrink) */
@keyframes growBar {
  0% {
    transform: scaleX(0.4);
    opacity: 0.6;
  }
  50% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(0.4);
    opacity: 0.6;
  }
}

/* buttons */
.website-buttons {
  display: flex;
  gap: 6px;
  margin-top: 10px;
}

.primary,
.secondary {
  padding: 4px 10px;
  font-size: 10px;
  border-radius: 6px;
  border: none;
}

.primary {
  background: #057dcd;
  color: #fff;
  font-size: 7px;
  font-weight: 600;
}

.secondary {
  background: #ffffff;
  color: #334155;
  border: 1px solid #e2e8f0;
}

/* =========================
   RIGHT DASHBOARD
========================= */
.website-right {
  width: 80%;
}
.PROFESSIONAL-SERVICES {
  align-items: center;
  background-color: #e8f4fd;
  border: 0.5px solid #057dcd33;
  border-radius: 40px;
  color: #057dcd;
  display: inline-flex;
  font-size: 8px;
  font-weight: 600;
  gap: 8px;
  letter-spacing: 0.5px;
  padding: 6px 14px;
}

.website-card {
  background-color: #e8f4fd;
  border: 2px solid #057dcd33;
  border-radius: 12px;
  padding: 10px;
}

/* header */
.website-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website-card-header h4 {
  font-size: 10px;
  font-weight: 500;
  color: #334155;
}

.website-status span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
}

.website-status span:first-child {
  background: #10b981;
}

.website-status span:last-child {
  background: #f59e0b;
  margin-left: 3px;
}

/* =========================
   CHART
========================= */
.website-chart {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  height: 90px;
  margin-top: 10px;
}

.bar {
  flex: 1;
  background: linear-gradient(to top, #2563eb, #93c5fd);
  border-radius: 4px 4px 0 0;
}
.website-chart {
  display: flex;
  align-items: flex-end;
  gap: 6px;
  height: 120px;
}

.bar {
  width: 10px;
  height: 20px; /* base height */
  background: linear-gradient(to top, #2563eb, #93c5fd);
  border-radius: 4px;
  transform-origin: bottom;
  animation: pulse 3s ease-in-out infinite;
}

/* slow sequential delay */
.b1 {
  animation-delay: 0s;
}
.b2 {
  animation-delay: 0.3s;
}
.b3 {
  animation-delay: 0.6s;
}
.b4 {
  animation-delay: 0.9s;
}
.b5 {
  animation-delay: 1.2s;
}
.b6 {
  animation-delay: 1.5s;
}
.b7 {
  animation-delay: 1.8s;
}

/* controlled growth */
@keyframes pulse {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.6);
  } /* 👈 reduce this value */
}

.b1 {
  height: 25px;
}
.b2 {
  height: 45px;
}
.b3 {
  height: 35px;
}
.b4 {
  height: 60px;
}
.b5 {
  height: 50px;
}
.b6 {
  height: 75px;
}
.b7 {
  height: 65px;
}

/* =========================
   STATS
========================= */
.website-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  margin-top: 8px;
}

.box {
  border: 1px solid #e2e8f080;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #ffffff;
}

.box span {
  font-size: 9px;
  color: #94a3b8;
}
.blue{
  color:#057dcd;
  font-weight: 700;
}

.box h3 {
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.green {
  color:#10B981;
  font-weight: 700;
}

/* =========================
   FEATURES
========================= */

/* FEATURES WRAPPER */
.website-features {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding: 10px 30px;
  justify-content: center;
}
.Performance

/* ICON */
.website-features {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.website-feature-card {
  width: 150px;
  padding: 12px;
  border-radius: 14px;
  background: #fff;
  border: 1px solid #e2e8f0;
}

.website-feature-icon {
  font-size: 18px;
  display: block;
  margin-bottom: 8px;
}

.website-feature-card h4 {
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: 600;
  color: #0f172a;
}

.track {
  width: 100%;
  height: 3px;
  background: #057dcd40;
  border-radius: 999px;
  overflow: hidden;
}
.track-1 {
  width: 70%;
  height: 3px;
  background: #057dcd20;
  border-radius: 999px;
  overflow: hidden;
  margin-top: 2px;
}
.track2 {
  width: 100%;
  height: 3px;
  background: #10b98140;
  border-radius: 999px;
  overflow: hidden;
}
.track2-1 {
  width: 70%;
  height: 3px;
  background: #10b98120;
  border-radius: 999px;
  overflow: hidden;
  margin-top: 2px;
}
.track3 {
  width: 100%;
  height: 3px;
  background: #8b5cf640;
  border-radius: 999px;
  overflow: hidden;
}
.track3-1 {
  width: 70%;
  height: 3px;
  background: #8b5cf620;
  border-radius: 999px;
  overflow: hidden;
  margin-top: 2px;
}

.fill {
  width: 60%;
  height: 100%;
  border-radius: 999px;
}
/* =========================
   FOOTER
========================= */
.website-footer {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding: 10px;
  font-size: 9px;
  color: #64748b;
}

/* =========================
   RESPONSIVE
========================= */


/* background track (light line) */
.website-Performance div:first-child {
  height: 3px;
  width: 130%;
  background: #057dcd40;
  border-radius: 999px;
  position: relative;
}

/* actual progress bar */
.website-Performance div:last-child {
  height: 3px;
  width: 90%;
  background: #057dcd20;
  border-radius: 999px;
  position: relative;
  margin-top: 4px;
}
/* =========================
   TABLETS (≤ 768px)
========================= */
@media (max-width: 962px) {
  .hero-title {
    font-size: 28px;
    text-align: center;
  }

  .hero-description {
    font-size: 14px;
    text-align: center;
    max-width: 100%;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-content {
    text-align: center;
  }

  .website-navbar {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .website-url {
    width: 100%;
    padding: 8px 14px;
    font-size: 9px;
    overflow-x: auto;
    white-space: nowrap;
  }

  .website-hero {
    flex-direction: column;
    padding: 12px;
    gap: 16px;
  }

  .website-left,
  .website-right {
    width: 100%;
  }

  .website-feature-card {
    width: 100%;
  }

  .website-chart {
    height: 80px;
  }

  .website-card {
    padding: 10px;
  }
}

/* =========================
   SMALL MOBILE (≤ 576px)
========================= */
@media (max-width: 768px) {
  .hero-title {
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
  }

  .hero-description {
    font-size: 12px;
    text-align: center;
  }

  .hero-tag {
    font-size: 12px;
    text-align: center;
    display: block;
  }

  .website-url {
    font-size: 8px;
    padding: 6px 10px;
  }

  .website-hero {
    padding: 10px;
  }

  .website-card-header h4 {
    font-size: 9px;
  }

  .box h3 {
    font-size: 10px;
  }

  .website-feature-card {
    padding: 10px;
    width: 100%;
  }

  .website-footer {
    flex-direction: column;
    text-align: center;
    gap: 4px;
  }

  .stat-number {
    font-size: 28px;
  }

  .stat-label {
    font-size: 12px;
  }
}
