.process-wrapper {
    padding-top:60px;
    background-color: #fff;
}

.wrapper-header {
    text-align: center;
    margin-bottom: 60px;
}

.wrapper-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    color: #16213e;
}

.wrapper-title span{
   color: #057DCD;
}

@media (max-width: 576px){
    .process-wrapper{
        padding-top: 40px;
    }
}